<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elenco Tornei</title>
</head>
<body>
	
	<div style="text-align: right; margin: 10px;">
		
		<a th:if="${isAdmin}" th:href="@{/admin/dashboard}" style="margin-right: 15px; color: red; font-weight: bold;">Dashboard Admin</a>
	    
	    <a th:if="${!isLogged}" th:href="@{/login}">Login</a>
	    
	</div>

    <h1>Tutti i Tornei Disponibili</h1>

    <ul>
        <li th:each="torneo : ${elencoTornei}">
			
			<a th:href="@{/torneo/{id}/classifica(id=${torneo.id})}">
			    <strong th:text="${torneo.nome}">Nome Torneo</strong>
			</a> -
			
            Anno: <span th:text="${torneo.anno}">2000</span>
			
			<br>
			<i>Descrizione: <span th:text="${torneo.descrizione}">Qui andrà la descrizione del torneo...</span></i>
			<br>
			<a th:href="@{/torneo/{id}/partite(id=${torneo.id})}">
				Visualizza partite del torneo
			</a>
			<br><br>
						
        </li>
    </ul>

</body>
</html>